<!--Aula: esconda o elemento com v-show -->

<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <!-- O v-show apenas esconde os elementos através da propriedade display:none do css -->
    <p v-show="!logado">Por favor faça o Login</p>
    <p v-show="logado">Seja bem vindo!</p>

    <!-- O v-if remove o elemento, diferente do v-show que apenas esconde via css -->
    <template v-if="logado && !anonimo">
        <p>Usuário Logado: {{ nome }}</p>
        <p>Perfil: Admin</p>
    </template>

    <p v-else-if="anonimo">Navengando como Anônimo</p>
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado">{{  logado ? 'Sair' : 'Entrar'}}</button>
    <input type="checkbox" v-model="anonimo">
    <hr>
    <!-- O v-show apenas esconde os elementos através da propriedade display:none do css -->
    <footer v-show="logado"> 
        Desenvolvido por Douglas Rodrigues!!!
    </footer>
    <footer v-show="!logado">
        Desenvolvido por Douglas Rodrigues!!!
    </footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            nome: 'Douglas',
            logado: false,
            anonimo: false
        },
        methods: {
            login(){
                this.logado = this.logado == true ? false : true
            }
        }
    })
</script>