<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Matador de Monstro</title>
        <link rel="stylesheet" href="style.css"> <!-- Link para o css-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    </head>
    <body>
        <div id="app">


            <div class="panel scores">
                <div class="score">
                    <h1>Jogador</h1>
                    <div class="life-bar">
                        <!-- o estilo css -> danger -> é oque vai informa quando o seu life fica abaixo de 20% -->
                        <!-- width -> Vai mostrar a porcentagem do que esta no data em app.js -->
                        <div class="life" 
                            :class="{danger: playerLife < 50}"
                            :style="{width: playerLife + '%'}">
                        </div>
                    </div>
                    <div>{{ playerLife }}%</div>
                </div>
                <div class="score">
                    <h1>Monstro</h1>
                    <div class="life-bar">
                        <!-- o estilo css -> danger -> é oque vai informa quando o seu life fica abaixo de 20% -->
                        <!-- width -> Vai mostrar a porcentagem do que esta no data em app.js -->
                        <div class="life"
                            :class="{danger: monsterLife < 50}"
                            :style="{width: monsterLife + '%'}">
                        </div>
                    </div>
                    <div>{{ monsterLife }}%</div>
                </div>
            </div>

            <!-- hasResult só vai mostrar o resultado quando o life chegar a 0% -->
            <div v-if="hasResult" class="panel result">
                <!-- v-if para quando o monstro fica com o life 0 -->
                <div v-if="monsterLife == 0" class="win">Você ganhou!! :)</div>
                <!-- v-else quando o playerlife ficar com 0 voce perdeu!-->
                <div v-else class="lose">Você perdeu! :(</div>
            </div> <!---->

            <!-- Buttões que vão atacar e etc..-->
            <div class="panel buttons">
                <template v-if="running">
                    <button class="btn attack" @click="attack(false)">Ataque</button>
                    <button class="btn special-attack" @click="attack(true)" >Ataque Especial</button>
                    <button class="btn heal" @click="healAndHurt">Curar</button>
                    <!-- running = false -> vai fazer volta para o inicio do jogo, no caso para fazer o novo gamer -->
                    <button class="btn give-up" @click="running = false">Desistir</button>
                </template>
                <!-- startGame = true -> é para iniciar o game. -->
                <button v-else class="btn new-game" @click="startGame">Iniciar Jogo</button>
            </div>

            <!-- Logs dos historicos dos ataques ou curas. -->
            <div v-if="logs.length" class="panel logs">
                <ul>
                    <li v-for="log in logs"  :class="log.cls" class="log"> {{ log.text }}</li>
                </ul>
            </div>
        </div>
    </body>

    <script src="app.js"></script> <!-- Link para o app.js-->
</html>